
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


/* common codes starts here */

*{
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body{
    margin: 0;

}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size:1.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    color:white;
    font-size: 1.2rem;

}

p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 5px white;
    border-bottom: none;
    margin: 20px auto;
    width: 75px;
}

[class*="col-"]{
    float:left;
    padding:0px;
}

/* for mobile*/

[class*="col-"]{
    width:100%;
}

/* common codes ends here */


/* navbar section desing starts here */

.navbar{
    background-color: #0c6168;
    text-align: center;
    padding:1% 5%;
}

.navbar h1{
    color:white;
    margin: 0;
    padding: 10px;
}

.navbar h1:hover{
    transform: scale(1.3);
    cursor: pointer;
    transition: 0.3s;

}

.navbar-menu{
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    background-color: #40868b;
    border-radius: 5px;
    margin:7px 0px;
    padding:10px;
}

.navbar-menu a:hover{
    background-color: gray;
}

.navbar::after{
    content: '';
    clear: both;
    display: table;
}

/* navbar desing ends here */

/* profile section desing starts here */

.profile{
    padding:100px 10px;
    text-align: center;
    position: relative;
}

.profile .top-weather-icon{
    position: absolute;
    width:120px;
    border: 5px solid white;
    border-radius: 50%;
    right:50px;
    top:20px;
    transition: transform 2s;
    transition-timing-function: linear;

}

.profile .top-weather-icon:hover{
    transform:rotate(360deg);
    
}

.profile-desc h1{
    font-family: 'satisfy', cursive;
    font-size: 3rem;
}

.profile-desc p{
    color:gray;
    text-align: center;
    width:90%;
    margin: 0 auto 30px auto;
}

.profile .bottom-weather-icon{
    position: absolute;
    width:120px;
    border: 5px solid white;
    border-radius: 50%;
    left:50px;
    bottom:10px;
    transition: transform 2s;
    transition-timing-function: linear;
}

.profile .bottom-weather-icon:hover{
    transform:rotate(360deg);
     
}

.loding_animation {
    position: absolute;
    right: 40px;
    margin-top: 10px;
    border: 8px solid #f5eded;
    border-radius: 50%;
    border-top: 8px solid #FFC106;
    border-bottom: 8px solid #FFC106;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile .hire_me{
    position: absolute;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(230, 136, 107);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
   
}

.profile .hire_me:hover{
    cursor: pointer;
    background-color: #40868b;
    color: white;
   
}

#hero::after {
    content: '';
    display: table;
    clear:both;
}

/* profile section desing ends here */

/* aboute me section desing starts here */

.aboute-me{
    background-color: #39a4ac;
    color:white;
    padding: 1% 5%;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    
}

.aboute-me-image img{
    border:3px solid white;
    border-radius: 50%;
    height: 220px;
    width:200px;
}

.aboute-me p{text-align: center;}

.aboute-me a{text-align: center;}

.cv-button{
    background-color: #052d2f;
    color: white;
    border-radius: 12px;
    padding: 12px; 
    font-size: 1rem;
    text-align: center;
    margin:10px;
    cursor: pointer;
}

.aboute-me::after {
    content: '';
    display: table;
    clear:both;
}

/* aboute me section desing ends here */


/*professional experience section desing starts here*/

.professional-experience{
    padding: 1% 5%;
    
}

.professional-experience .card{
    background-color: #a39e9e;
    border-radius: 10PX;
    padding: 10px;
    transition: 0.3s;
    height: 750px;
    margin-right: 20px;
    margin-top: 10px;
}

.professional-experience .card:hover{
    box-shadow: 0 4px 8px 5px black;
}

.card-icon{
    text-align: center;
}

.card-icon img{
    margin: 5px;
    width: 100px;
}

.rounded-img{
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
}

.card-title h2{
    background-color: #616161;
    padding: 5px;
    color: white;
    border-radius: 20px 0 20PX 0;
    text-align: center;
}

.card-desc{
    font-size: 11px;
}

.card-desc h4{
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
}

.card-desc a{
    color: #662bc5;
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
}

.skills-container{
    padding-right: 40px;

}

.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 34px 10px;
    position: relative;
    text-transform: uppercase;
    cursor:pointer;
}

.skills-container li::before{
    position: absolute;
    content: '';
    width:100%;
    height:10px;
    background-color: rgb(86, 86, 153, .5);
    top: calc(100% + 5px);
    left:0;
    border-radius: 1000px;
    
}

.skills-container li::after{
    position: absolute;
    content: '';
    width:0;
    height:10px;
    background-color: rgb(86, 86, 153, 1);
    top: calc(100% + 5px);
    left:0;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.skills-container li.html::after{

    animation-name: html;
}

@keyframes html{
    to{
        width: 98%;
    }
}
    
.skills-container li.css::after{

    animation-name: css;
}

@keyframes css{
    to{
        width: 90%;
    }
}

.skills-container li.bootstrap::after{

    animation-name: bootstrap;
}

@keyframes bootstrap{
    to{
        width: 80%;
    }
}

.skills-container li.js::after{

    animation-name: js;
}

@keyframes js{
    to{
        width: 70%;
    }
}

.skills-container li.jquary::after{

    animation-name: jquary;
}

@keyframes jquary{
    to{
        width: 80%;
    }
}

.skills-container li.node::after{

    animation-name: node;
}

@keyframes node{
    to{
        width: 60%;
    }
}

.skills-container li.express::after{

    animation-name: express;
}

@keyframes express{
    to{
        width: 55%;
    }
}

.skills-container li.github::after{

    animation-name: github;
}

@keyframes github{
    to{
        width: 80%;
    }
}

.skills-container li.react::after{

    animation-name: react;
}

@keyframes react{
    to{
        width: 50%;
    }
}

.professional-experience::after{
    content: '';
    display: table;
    clear: both;
}
/*professional experience section desing ends here*/


/*achievement-Contact section desing starts here*/

.contact_desc{
    padding: 1% 5%;
    background-color: #39a4ac;
    color:white;
}

.contact{
    text-align: center;
}

.contact input, textarea{
    width: 100%;
    padding:10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    resize: none;
}

.contact button{
    padding: 10px;
    background-color: #052d2f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 140px;
    margin: 12px;
	transition:0.3s;
}

.contact button:hover{
    background:#252525;
	cursor:pointer;
}

.contact_desc::after{
    content: '';
    display: table;
    clear:both;
}

.media-button{
    text-align: center;
}

.media-button .btn{
    background-color: #052d2f;
    width:50px;
    height:50px;
    border:none;
    border-radius: 5px;
    margin:15px;
    
}

.media-button .btn:hover{

    background-color:#252525;
    
}
/*achievement-Contact section desing ends here*/


/* footer section design starts here  */

footer{
    background-color: rgb(129, 119, 117);
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: space-around;
    line-height: 40px; 
    align-items: center;

}

.copyright-text{
    font-size: 1.2rem;
    color: #fff;
    margin-left: 65px;
}


.footer_desc{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;

}

.footer_desc> a{
    padding: 0 20px;  
    margin: 0px 10px;
    border-radius: 5px;
}

.footer_desc> a:hover{
    border: 3px solid #fff;
    background-color: #052d2f;
    transform: scale(1.2); 
    transition: 0.4s; 
}

footer::after{
    content: '';
    clear: both;
    display: table;
}
/* footer section design ends here  */

