













/*footer desing starts here*/


.footer{
    background-color: #0c6168;
    color:white;
    padding:20px;
    text-align: center;
    font-size: 0.8rem;
}

.footer-menu a{
    display: block;
    margin:15px 0;
    font-size: 1.2rem;
    border-radius: 5px;
    padding:12px;
    background-color: white;
    color:black;
    

.footer-menu a:hover{

    background-color: gray;
    
}

.footer-desc{
    font-size: 1.2rem;
}

.footer::after{
    content: '';
    display: table;
    clear: both;
}

/*footer desing ends here*/